<div class="container">
  <div class="p-grid page-login-form">
    <div class="p-col-12" style="text-align: center">
      <img class="p-image-toolbar" src="https://logodix.com/logo/1931235.png">
    </div>
    <div class="p-col-12">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
        <input type="text" pInputText placeholder="Utilisateur">
      </div>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-lock" style="line-height: 1.25;"></i></span>
        <input type="password" pInputText placeholder="Mot de passe">
      </div>
    </div>
  </div>
</div>
